body {
    height: 10000px;
    background-color: #3c1f81;
}
.container {
    display: flex;
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    background-color: #4cf699;
    border-radius: 8px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
#item1 {
    order: 1;
    background-color: rgb(255, 247, 0);
    height: 100px;
    width: 75px;
    border-radius: 8px;
    margin: 5%;
}
#item2 {
    order: 2;
    background-color: rgb(255, 0, 0);
    height: 100px;
    width: 75px;
    border-radius: 8px;
    margin: 5%;
}
#item3 {
    order: 3;
    background-color: rgb(0, 187, 255);
    height: 100px;
    width: 75px;
    border-radius: 8px;
    margin: 5%;
}
#item4 {
    order: 4;
    background-color: rgb(255, 170, 0);
    height: 100px;
    width: 75px;
    border-radius: 8px;
    margin: 5%;
}
#item5 {
    order: 5;
    background-color: rgb(255, 0, 98);
    height: 100px;
    width: 75px;
    border-radius: 8px;
    margin: 5%;
}
#item6 {
    order: 6;
    background-color: rgb(255, 0, 255);
    height: 100px;
    width: 75px;
    border-radius: 8px;
    margin: 5%;
}