.big {
    height: auto;
    width: auto;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5%;
    padding-right: 5%;
}

h4 {
    margin-bottom: 5px;
}

hr {
    border: 2px solid lightgray;
    margin: 20px 0;
}

.containerPadre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.containerFiglio {
    flex: 1;
    flex-direction: column;
    max-height: auto;
    padding: auto;
}

#heroContainer {
    display: none;
}

.box {
    height: auto;
    width: auto;
    margin: 10px;
    border: 2px solid lightgrey;
    border-radius: 10px;
    padding: 5px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.purple {
    background-color: purple;
}

.heroImg {
    display: none;
}

.containerPadre2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

.containerRow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.boxRow {
    height: auto;
    width: auto;
    max-width: 200px;
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
}

.boxImg {
    height: fit-content;
    width: fit-content;
    border-radius: 10px 10px;
}

.stepImg {
    height: auto;
    width: auto;
    max-width: 80%;
    max-height: 80%;
    /* margin: 10px; */
}

.rowLoghi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: auto;
}

.logo {
    flex: 1;
    height: auto;
    width: auto;
    max-width: 100px;
    max-height: 100px;
    margin: 10px;
    border-radius: 10px;
}

.containerRecensioni {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    flex-wrap: wrap;
}

#rec {
    height: max-content;
    width: auto;
    /*min-width: 150px;*/
    max-width: 250px;
    margin: 10px;
    border: 2px solid lightgrey;
    border-radius: 10px;
    padding: 10px;
}

.starContainer {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin-bottom: 10px;
}

@media (min-width: 1024px) {
    .big {
        height: auto;
        width: auto;
        margin: 0 auto;
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 10%;
        padding-right: 10%;
    }
    .containerRow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
    }

    .heroImg {
        display: block;
        height: 550px;
        width: 550px;
        /* max-height: 600px; */
        /* min-height: 80%; */
        /* max-width: 300px; */
        /* min-width: 80%; */
        border-radius: 10px;
    }

    #heroContainer {
        display: block;
        flex: 1;
        flex-direction: column;
        max-height: auto;
        padding: auto;
    }
}
