.main {
    display: flex;
    height: max-content;
}

.container {
    text-align: center;
    margin: auto;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    border: solid 2px #000;
    border-radius: 4px;
}

.box {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    margin: 20px auto;
    border: solid 6px #000;
    border-radius: 12px;
    justify-content: left;
}

.color {
    background-color: lightcoral;
}