<!-- templates/form.html -->
<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="UTF-8">
	<title>Inserisci o Modifica Prodotto</title>
	<script defer src="/static/script.js"></script>
</head>
<body>
	<h1>{{ 'Modifica' if product else 'Inserisci' }} Prodotto</h1>
	<form id="product-form" method="POST">
		<label for="name">Nome Prodotto</label><br>
		<input type="text" id="name" name="name" required value="{{ product.name if product else '' }}" {% if product %}readonly{% endif %}><br>

		<label for="price">Prezzo</label><br>
		<input type="number" id="price" name="price" step="0.01" required value="{{ product.price if product else '' }}"><br>

		<label for="description">Descrizione</label><br>
		<textarea id="description" name="description" rows="4">{{ product.description if product else '' }}</textarea><br>

		<label for="image_url">URL Immagine</label><br>
		<input type="text" id="image_url" name="image_url" value="{{ product.image_url if product else '' }}"><br>

		<button type="submit">Salva</button>
	</form>
	<a href="{{ url_for('index') }}">Torna alla lista prodotti</a>

</body>
</html>

<!-- Jinja rende le pagine di frontend dinamiche in base ai dati 
forniti dal backend tramite le route.-->

<!-- Jinja è rappresentato da queste parentesi  dentro il codice html-->
		
