.main {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.boxColorata {
    height: 450px;
    width: 450px;
    background-color: blueviolet;
    border: 4px solid lightgrey;
}

@media (min-width: 768px) {
    .boxColorata {
        background-color: red;
    }
}

@media (min-width: 1024px) {
    .boxColorata {
        background-color: green;
    }
}

div {
    height: 450px;
    width: 100%;
    background-color: lightblue !important;
}

.backGreen {
    background-color: lightgreen;
}

#backRed {
    background-color: red;
}