.main {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: coral;
    height: max-content;
}

.gridPadre {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 12px;
    height: 500px;
}

.gridFiglio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 12px;
}

.box {
    height: 100%;
    width: 100%;
    margin-bottom: 12px;
    border-radius: 12px;
    border: solid 4px black;
}

.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}
.purple {
    background-color: purple;
}